Package: ws.hbang.bugger
Name: Bugger
Depends: mobilesubstrate, firmware (>= 9.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Access iOS’s built in UI debugger
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Section: Development
Depiction: https://cydia.hbang.ws/package/ws.hbang.bugger/
Support: https://hbang.ws/support/
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: purpose::extension, compatible::ios9, compatible::ios10
dev: hbang
